/* Sets the entire UI to a white base (to prevent color mixing issues) */
window, .background, box, stack, stackswitcher,
scrolledwindow, viewport, list, row {
  background-color: #ffffff;
  color: #111111;
}

/* Reduces padding/spacing for StackSwitcher buttons (to prevent excessive width) */
stackswitcher > button {
  padding-left: 6px;
  padding-right: 6px;
  min-width: 1px;
}
stackswitcher > button > label {
  max-width: 110px;
}


/* Minimum size (auxiliary. UI's min-content-* properties take precedence for effective size) */
#root {
  min-width: 840px;
  min-height: 620px;
}

/* Reduces the prominence of the scroll area (to allow for easier horizontal shrinking) */
.scroller {
  min-width: 320px;
  min-height: 320px;
}